{% extends 'base.html' %}

{% block styles %}
<style>
  body,
  html {
    height: 100%;
  }

  .messages-box {
    flex: 1;
    overflow-y: auto;
  }

  .messages-list {
    padding-left: 0;
  }

  .message {
    margin-bottom: 15px;
    list-style: none;
  }

  .message-text {
    padding: 10px;
    border-radius: 5px;
  } 

  .sent {
    background-color: #ffffff;
    align-self: flex-end;
  }

  .received {
    background-color: #dbf0fe;
    align-self: flex-start;
  }

  .get-feedback-button .get-feedback-demo-button{
    margin-bottom: 20px;
  }

  .message-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #e3f2fd;
    height: 10%;
  }

  .message-input {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }

  .btn-send {
    border-radius: 0;
  }

  .message-input, .btn-send {
    height: 100%
}

  .main-container {
    display: flex;
    height: 100%;
  } 

 .scenario-container {
    position: fixed;
    width: 40%;
    height: 85%;
    overflow-y: auto;
    background-color: white;
  } 

  .btn-feedback{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }

  .chat-container {
  margin-left: 40%; /* Adjust as needed */
  } 

  body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      background-color: #f5f5f5;
  } 
  h3, h4 {
      color: #333;
  }
  h4 {
      margin-top: 20px;
      margin-bottom: 20px;
  }    
  .button-container {
      display: flex;
      justify-content: space-between;
  }
  .learning-objectives {
      background-color: #f0f0f0; /* or any color you prefer */
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 20px;
  }
  .learner-context {
      padding-bottom: 30px;
  }
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #000;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
  }
</style>
<title>Scenario</title>
{% endblock %}

{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">
<div class="container-fluid">
  <div class="row main-container">
    <div class="scenario-container col-md-5">
    <div class="learner-context">
        <h4>Background</h4>
        <p>Your leader brings you into an account meeting with the CEO, Steve, of your client Vertex Construction, a Chicago-based family-owned company with over 100 years of history. Starting as a roofing contractor, Vertex Construction now grows into six operating companies: three contracting businesses with union and non-union labor, one medical staffing business, and two safety consulting businesses. 
        </p>
        <h4>Challenges</h4>
          <ol>
            <li>In May 2015, Vertex Construction lost a bid to a non-union contractor for the first time, making them contemplate a potential pivot in their staffing strategy based on market conditions. They are considering whether to go non-union in Chicago or to exit the contracting business altogether.</li>
            <li>Another challenge is the lack of an obvious successor within the family. It's uncertain if any fifth-generation member would have both the competencies and the desire to lead the business. </li>
            <li>As Steve approaches his ideal retirement age, the company's strategic plan needs to incorporate his personal exit strategy.</li>
          </ol>
          <h4>What are some potential solutions:</h4>
          <ol class="solution">
            <li>
              <strong>Stay the course:</strong> Keep on the same path and continue the trajectory of growth, both organically and through acquisitions. Potentially become an early mover in going non-union and win significant work with lower-priced labor. Work to identify a family member who could eventually rise to the leadership position. If no family member proved suitable, hire an outside CEO and maintain family ownership and chairman status.
            </li>
            <li>
              <strong>Break it up:</strong> Separate the company’s intermingled operating companies into independent entities, then sell off the most difficult or least productive businesses, taking money off the table to invest elsewhere and to diversify risk with some family liquidity. Move forward not with a bigger business, but with a more streamlined one.
            </li>
            <li>
              <strong>Sell it off:</strong> Work with an outside advisor to sell the entire company, its subsidiaries as well as the real estate owned by the holding company. Free up capital to fund other family interests.
            </li>
          </ol>
          <h4>Your role as the business advisor:</h4>
          <p>It’s your first time meeting Steve, the CEO. You think there are a lot of opportunity to help him and the board navigate what’s ahead for the company, Steve, and his family. Your objectives for the meeting include: </p>
          <ol class="objective">
            <li>Come away with an understanding of the main strategic issues that are affecting the company from Steve’s viewpoint.</li>
            <li>Establish the basis for a successful future business relationship with Steve personally and with Vertex Construction on a corporate level.</li>
            <li>Demonstrate credibility for yourself and your company.</li>
          </ol> 
            <button class="begin-chat-button btn btn-primary btn-feedback">Begin Chat</button><br>
            <button class="get-feedback-demo-button btn btn-primary btn-feedback">Get Feedback Demo</button>
            <button class="get-feedback-button btn btn-primary btn-feedback">Get Feedback</button>
    </div>
    <div class="chat-container col-md-7">
      <ul class="list-unstyled messages-list">
          {% for chat in chats %}
          {% if chat.user == request.user %}
          <div class="card-body messages-box"></div>
          <li class="message sent">
            <div class="message-text">
              <div class="message-sender">
                <b>You-Consultant</b>
              </div>
              <div class="message-content">
                {{chat.message}}
              </div>
            </div>
          </li>

          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>Steve-Client CEO</b>
              </div>
              <div class="message-content">
                {{chat.response}}
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        <ul id="goalsList"></ul>
    </div>
  </div>
</div>      
<div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Type your message...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
      <div class="message-text">
        <div class="message-sender">
          <b>You-Consultant</b>
        </div>
        <div class="message-content">
          ${message}
        </div>
      </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
          <div class="message-sender">
            <b>Steve-Client CEO</b>
          <div>
          <div class="message-content">
            ${response}
          </div>
        </div>
        `;
        messagesList.appendChild(messageItem);
      });
  });

</script>

<!--This is to clear previous Chat histories-->
<script>
  document.querySelector('.begin-chat-button').addEventListener('click', function() {
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      fetch('/clear_chat/', {
          method: 'POST',
          headers: {
              'X-Requested-With': 'XMLHttpRequest',  // To indicate AJAX request
              'X-CSRFToken': csrfToken
          }
      })
      .then(response => response.json())
      .then(data => {
          if (data.status === 'success') {
              // Clear chat messages from the screen
              document.querySelector('.messages-list').innerHTML = '';
          } else {
              console.error(data.message);
          }
      });
  });
</script>

<!---This is to end the meeting and show feedback for a real dialogue-->
<script>
  document.querySelector('.get-feedback-button').addEventListener('click', function() {
      console.log("button clicked")
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      // Create and show the loading spinner
      const loadingContainer = document.createElement('div');
      loadingContainer.classList.add('loading-container');
      const spinner = document.createElement('div');
      spinner.classList.add('spinner');
      loadingContainer.appendChild(spinner);
      document.body.appendChild(loadingContainer);

      fetch('/get_feedbackai/', {
          method: 'POST',
          headers: {
              'X-Requested-With': 'XMLHttpRequest',  // To indicate AJAX request
              'X-CSRFToken': csrfToken
          }
      })
      .then(response => response.json())
      .then(data => {
              console.log (data.response);

              const responses = typeof data.response === 'string' ? JSON.parse(data.response) : data.response;
              if (data && Array.isArray(responses)) {
              responses.forEach(item => {
                  // Create a list item for each response
                  const messageItem = document.createElement('li');
                  messageItem.classList.add('message', 'received');

                  // Add the Goal
                  const goal = document.createElement('p');
                  goal.textContent = 'Goal: ' + item.Goal;
                  messageItem.appendChild(goal);

                  // Check and add Good behaviors, if present
                  if (item['Good behaviors']) {
                      const goodBehaviors = document.createElement('p');
                      goodBehaviors.textContent = 'Good behaviors: ' + item['Good behaviors'];
                      goodBehaviors.style.color = 'blue'; // Styling as blue
                      messageItem.appendChild(goodBehaviors);
                  }

                  // Check and add Areas to improve, if present
                  if (item['Areas to improve']) {
                      const areasToImprove = document.createElement('p');
                      areasToImprove.textContent = 'Areas to improve: ' + item['Areas to improve'];
                      areasToImprove.style.color = 'red'; // Styling as red
                      messageItem.appendChild(areasToImprove);
                  }
                    // Append the complete list item to the list
                    goalsList.appendChild(messageItem);
                });

              } 
              else {
                  console.error('Expected an array but received:', responses);
              }

              // Remove the loading spinner
              document.body.removeChild(loadingContainer);

          } 
      );
      
  });
</script>

<!---This is to end the meeting and show feedback for a demo dialogue-->
<script>
  document.querySelector('.get-feedback-demo-button').addEventListener('click', function() {
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      // Create and show the loading spinner
      const loadingContainer = document.createElement('div');
      loadingContainer.classList.add('loading-container');
      const spinner = document.createElement('div');
      spinner.classList.add('spinner');
      loadingContainer.appendChild(spinner);
      document.body.appendChild(loadingContainer);

      fetch('/get_feedbackai_demo_purpose/', {
          method: 'POST',
          headers: {
              'X-Requested-With': 'XMLHttpRequest',  // To indicate AJAX request
              'X-CSRFToken': csrfToken
          }
      })
      .then(response => response.json())
      .then(data => {
              console.log (data);
               // Parse the 'response' property if it's a string
              const responses = typeof data.response === 'string' ? JSON.parse(data.response) : data.response;


              if (Array.isArray(responses)) {
              responses.forEach(item => {
                  // Create a list item for each response
                  const messageItem = document.createElement('li');
                  messageItem.classList.add('message', 'received');

                  // Add the Goal
                  const goal = document.createElement('p');
                  goal.textContent = 'Goal: ' + item.Goal;
                  messageItem.appendChild(goal);

                  // Check and add Good behaviors, if present
                  if (item['Good behaviors']) {
                      const goodBehaviors = document.createElement('p');
                      goodBehaviors.textContent = 'Good behaviors: ' + item['Good behaviors'];
                      goodBehaviors.style.color = 'blue'; // Styling as blue
                      messageItem.appendChild(goodBehaviors);
                  }

                  // Check and add Areas to improve, if present
                  if (item['Areas to improve']) {
                      const areasToImprove = document.createElement('p');
                      areasToImprove.textContent = 'Areas to improve: ' + item['Areas to improve'];
                      areasToImprove.style.color = 'red'; // Styling as red
                      messageItem.appendChild(areasToImprove);
                  }
                    // Append the complete list item to the list
                    goalsList.appendChild(messageItem);
                });

              } 
              else {
                  console.error('Expected an array but received:', responses);
              }

              // Remove the loading spinner
              document.body.removeChild(loadingContainer);

          } 
      );
      
  });
</script>




{% endblock %}